<section class="content-header">
    <h1>Lista de cheques devolvidos</h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <table data-xn-dt
                   data-xn-key="CardCode"
                   data-xn-columns="CardCode,CardName,DocNum,DocDateFmt,DueDateFmt,DocTotalFmt,DocStatus"
                   data-xn-orderable="CardCode,CardName"
                   data-xn-show-select="false"
                   data-xn-url="@Url.Action("ChequesDevolvidosTable", "Customer", new { area = "XNuvem.Vendas" })"
                   class="table table-bordered table-hover nowrap"
                   style="width: 100%;">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Nome do cliente</th>
                        <th>Nº documento</th>
                        <th>Data documento</th>
                        <th>Vencimento</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

@section HeaderContent {
    @Styles.Render("~/css/dataTable")
}

@section Scripts {
    @Scripts.Render("~/js/dataTable")
}



