@section HeaderContent {
    <style>
        #map {
            height: 500px;
        }
    </style>
}

<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <strong><label for="RomaneioEntry">Romaneio</label></strong>
                        <input id="RomaneioEntry" class="form-control" type="text" value="" placeholder="Romaneio" name="Romaneio">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button id="RomaneioButtom" type="submit" class="btn btn-success" title="Enviar">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <table id="CityList" class="table table-bordered table-hover nowrap" style="width:100%;">
                        <thead>
                            <tr>
                                <th><input id="CheckAll" type="checkbox" /></th>
                                <th>Estado</th>
                                <th>Cidade</th>
                                <th>Total de Pedidos</th>
                            </tr>
                        </thead>
                        <tbody>                            
                        </tbody>
                    </table>
                </div>
            </div><!-- ROW -->
            <div class="row">
                <div class="col-xs-12">
                    <button id="MapButtom" type="submit" class="btn btn-default" title="Mapa">Mapa</button>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
<script>
    var cityUrl = '@Url.Action("CityWithValue", "Maps", new { area= "XNuvem.Logistica" })';

    var directionsService = null;
    var directionsDisplay = null;
    var g_map = null;
    var g_markers = [];

    function initMap() {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': 'Salvador, BA' }, function (results, status) {
            var centerMap = results[0].geometry.location;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: centerMap
            });
            directionsDisplay.setMap(map);
            g_map = map;
        });
    }

    $(function ($) {
        var loadRomaneio = function (data) {
            var tb = $('#CityList tbody');
            tb.html(''); //Limpa os dados
            var fmt = '<tr><td><input type="checkbox" data-xn-way="{0}" data-xn-lat="{4}" data-xn-lng="{5}" /></td><td>{1}</td><td>{2}</td><td>{3}</td></tr>';
            $(data).each(function (i, o) {
                tb.append(
                    fmt.replace('{0}', o.Name + ',' + o.State)
                    .replace('{1}', o.State)
                    .replace('{2}', o.Name)
                    .replace('{3}', XNuvem.formatCurrency(o.DocTotal))
                    .replace('{4}', o.Lat)
                    .replace('{5}', o.Lng)
                    );
            });

            $('#CityList tbody input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue'
            });
        };

        $('#CityList input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue'
        });

        $('#CheckAll').on('ifChecked', function (event) {
            $('#CityList tbody input[type="checkbox"]').iCheck('check');
        });

        $('#CheckAll').on('ifUnchecked', function (event) {
            $('#CityList tbody input[type="checkbox"]').iCheck('uncheck');
        });

        $('#RomaneioButtom').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: cityUrl,
                method: 'POST',
                data: {
                    romaneioEntry: function () {
                        return $("#RomaneioEntry").val();
                    }
                }
            }).done(function (data) {
                if (!data) {
                    XNuvem.statusMessage.showWarning("Aviso!", "O romaneio não existe ou não contem informações de cidades.");
                    return;
                }
                loadRomaneio(data);
            }).fail(function (xhr) {
                XNuvem.statusMessage.showError("Erro!", "Não foi possível carregar o romaneio.");
            });
        });


        $('#MapButtom').click(function (e) {
            e.preventDefault();
            $(g_markers).each(function (i, o) {
                o.setMap(null);
            });
            g_markers = [];
            var checkboxArray = $('#CityList tbody input[type="checkbox"]:checked');
            if (checkboxArray.length == 0) {
                XNuvem.statusMessage.showError("Erro!", "Nenhuma cidade selecionada.");
                return;
            }
            var geocoder = new google.maps.Geocoder();
            checkboxArray.each(function (i, o) {
                var $o = $(o);
                var addr = $o.attr('data-xn-way');
                var val = $o.parents('tr').find('td:eq(3)').html();
                var latLng = { lat: parseFloat($o.attr('data-xn-lat')), lng: parseFloat($o.attr('data-xn-lng')) };
                var marker = new google.maps.Marker({ position: latLng, title:  addr + ', ' + val });
                marker.setMap(g_map);
                g_markers.push(marker);
                //geocoder.geocode({ 'address': addr }, function (results, status) {
                //    var marker = new google.maps.Marker({ position: results[0].geometry.location, title:  addr + ', ' + val });
                //    marker.setMap(g_map);
                //    g_markers.push(marker);
                //});
            });
        });
    });

</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMiBrfQjWxoImTQeEH8fWJqIuy6MimIy0&signed_in=true&callback=initMap" async defer></script>

}
