/codigo/.nuget/NuGet.Config
/codigo/.nuget/*.exe
/codigo/.nuget/*.targets
/codigo/XNuvem.Dominio/obj/Debug
/codigo/XNuvem.Dominio/bin/Debug
/codigo/ReportViewBase/obj
/codigo/ReportViewBase/bin
/codigo/XNuvem.Web/Modules/XNuvem.Clinico/bin
/codigo/XNuvem.Web/Modules/XNuvem.Clinico/obj/Debug
/codigo/XNuvem.Web/Modules/XNuvem.Recepcao/bin
/codigo/XNuvem.Web/Modules/XNuvem.Recepcao/obj/Debug
/codigo/XNuvem.Web/Modules/XNuvem.Portal/bin
/codigo/XNuvem.Web/Modules/XNuvem.Portal/obj
